// Variables

// Colors
//http://chir.ag/projects/name-that-color
$white:         #FFF !default;
$black:         #000 !default;
$jungle-green:  #2CBC75;
$shamrock:      #4EE49A;
$mine-shaft:    #333;
$boulder:       #777;
$dusty-gray:    #999;
$alto:          #ddd;
$gallery:       #eee;
