<footer>
  <div class="container py-5">
    <div class="row">
      <div class="logo-container col-sm-12 col-md-6 text-center text-md-left">
        <a href="/">RSVP EVENT</a>
      </div>
      <div class="social-copyright-container col-sm-12 col-md-6 d-flex justify-content-between">
        <div class="social">
          <a href="/">SOCIAL</a>
        </div>
        <div class="copyright">
          <a href="/">COPY</a>
        </div>
      </div>
    </div>
  </div>
</footer>
